<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "List", tickets_path  %></li>
      <li><%= link_to "New Story", new_story_path %></li>
      <li><%= link_to "New Task", new_task_path %></li>
      <li><%= link_to "New Bug", new_bug_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Edit Bug</h2>
    <div class="inner">
      <%= form_for @bug, :url => bug_path(@bug), :html => { :class => :form } do |f| -%>
        <%= render :partial => "tickets/form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'tickets/sidebar') -%>